.cursor {
  width: 3rem;
  height: 3rem;
  background: white;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  mix-blend-mode: difference;
}

.link-grow {
background: white;
}

body {
  font-family: Termina, sans-serif;
  color: #111;
  background: #eee;
  overflow-x: hidden;
}

section {
  padding: 30vw;
  height: 100%;
  min-height: 500vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: visible;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  margin: 3rem auto;
  font-size: clamp(5vw, 4rem, 6rem);
  text-align: left;
  z-index: 2;
  max-width: 800px;
  mix-blend-mode: difference;
  pointer-events: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.gallery {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}
@media (max-width: 768px) {
  .gallery {
    width: 160%;
  }
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}

.col:nth-child(2) {
  align-self: flex-end;
  justify-self: flex-end;
}

.image {
  width: 100%;
  filter: saturate(0);
  padding: 1rem;
}

.image:hover {
  z-index: 2 !important;
  filter: saturate(1);
}

img {
  transition: 0.3s ease-out;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  width: 100%;
}

*{
    margin: 0;
    padding: 0;
    z-index: 3;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }

  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }

  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }

  .menu-btn{
    position: fixed;
    z-index: 4;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }

  #active:checked ~ .menu-btn{
    color: #fff;
  }

  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  .wrapper ul li{
    margin: 15px 0;
    z-index: 4;
  }

  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }

  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: 3;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }

  .wrapper ul li a:hover{
    color: #fff;
  }

  input[type="checkbox"]{
    display: none;
  }

  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    width: 100%;
    color: #202020;
  }

  .content .title{
    font-size: 40px;
    font-weight: 700;
  }

  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }  